<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "wang.vici.8cups"
        version     = "0.0.1" >
    <name>8 Cups a Day</name>
    <description>The Water App for You</description>
    <author href="http://vici.wang" email="wonderfulife2015@gmail.com">
        Vici Wang
    </author>
	<content src="index.html" />
	<icon src="res/icon.png" />
</widget>