html, body {
  background: #faf8ef;
  color: #776e65;
  font-family: Arial;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
	position:absolute;
    width:400px;
    height:600px;
    top:10%;
    left:25%;
}

.title-container {
	position:relative;
	height: 80px;
	width: 200px;
}

canvas {
	position:absolute;
	margin-left: -50px;
}
 
.title {
  font-size: 80px;
  font-weight: bold;
  display: block;
  margin-left: 40px;
  float: left; 
}
 
.subtitle {
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 40px;
  font-weight: bold;
}




